*{
    font-family: 'Roboto Slab', serif;
}

body{
    background-color: var(--primary-color);
}


:root{
    --primary-color: #f9eae1;
    --secondary-color: #cc8b86;
    --tertiary-color:  #422800;
}

.colorPrimary{
    color: var(--primary-color);
}

.colorSecondary{
    color: var(--seconday-color);
}

.colorTertiary{
    color: var(--tertiary-color);
}


/* navbar */
.navbar{
    background-color: var(--tertiary-color);
    font-weight: bold;
}


/* cards */
.cardBook{
    --bs-card-border-width: 2px;
    --bs-card-border-color: var(--tertiary-color);
    --bs-card-border-radius: 0rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
}

.boxDetailBook{
    border: 2px solid var(--tertiary-color);
    padding: 50px;
    margin: 10px;
}